body {
    margin: 0;
    font-family: Arial, sans-serif;
    background:#141414;
  
}
nav {
    background-color: #9B9999;
    padding: 5px;
    padding-top: 10px;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin-right: 20px;
}
nav ul li a {
    display: flex;
    justify-content: center;
    color: rgb(10, 10, 10);
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
nav ul li a:hover {
    background-color: #555;
}
#img{
    width: 40px;
    height: 35px;
    border-radius: 10px;
    padding-top: 0px;
  }
#icon{
    width: 50px;
    height: 30px;
    cursor: 'pointer'
  }

#log {
    display: flex;
    margin-left: 590px;
}
.btn {
    padding: 1px 20px; 
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer; 
    transition: background-color 0.3s; 
}


.btnlogin {
    background-color: #f8f9fa;
    
    color: #28a745; 
    border: 2px solid #28a745; 
}

.btn:hover {
    opacity: 0.8; 
}

.login:hover {
    background-color: #28a745; 
    color: white;
}
@keyframes slideUpFadeOut {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    50% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes shockEffect {
    0% {
        opacity: 0;
        transform: translateY(-50px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}

#welcom {
    position: fixed;
    bottom: 250px;
    left: 25%;
    transform: translateX(-50%);
    padding: 15px 30px;
    border: 5px solid yellow; /* Bordure plus épaisse */
    border-radius: 10px;
    font-size: 32px; /* Texte plus grand */
    font-weight: bold;
    text-transform: uppercase;
    color: yellow; /* Texte jaune */
    background: transparent;
    text-align: center;
    box-shadow: 8px 8px 30px black; /* Box shadow agrandi */
    animation: shockEffect 0.2s infinite alternate, slideUpFadeOut 3s ease-out forwards;
}